/*
 * Estilos de tu proyecto
 */
header {
	width:100%;/* Establecemos que el header abarque el 100% del documento */
	height: 7em; 
	background:#919191;
	margin-bottom:20px;
	position: fixed;
	z-index: +1;
}

body{
	margin:0;
	font-family: Raleway;
}
.wrapper {
	padding: 1.5em 2em ;
	
}
.first{
	padding-top: 7em;
	margin-bottom: 7em;
}
 
header img {
	width: 10em;
	float:left;
	
}

header nav {
	float:right;
	
}
header nav a {
	display:inline-block;
	color:#252932;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bolder;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;

}
 
header nav a:hover {
	background:#ffc107;
	border-radius:50px;
}

#nav,#nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

#nav {
    display: inline-block;
    position: relative;
 }

#nav ul {

    left: -9999px;
    opacity:0;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: -9999px;
 
}

#nav li {

    background-color: #ffc107;
    position: relative;
}

#nav li a {
   
    color: #000000;
    display: block;
    font-size: 15px;
    padding: 35px 15px 12px 10px;
    text-decoration: none;
    width:130px;
}

#nav li:hover > a {
    background-color: #919191;
    border-color: #000;
    color: #FFFFFF;
}

#nav li:hover ul.subs {
    left: 155px;
    opacity:1;
    top: 0;

}

#nav ul li {
    width: 100%;

}

.overview{
	width: 28em;
	height: 22em;
	background-color: #E6E6E6;
	position: relative;
	left: 20em;
	bottom: 22em;
	

}
.dessert{
	width: 28em;
	height: 22em;
	background-color: #E6E6E6;
	position: relative;
	left: 31em;
	bottom: 25em;
}
.total h1{
	padding: 1em 2em 0em;
	margin: 0;
}

 .scl, .aqp{
 	width: 25em;
	height: 20em;
	padding-bottom: 3em;
	background-color: #E6E6E6;
	position: relative;
	right: 8em;
    
 }

 .aqp{
 	position: relative;
	left: 25em;
	bottom: 24em;
 }

h1 {
    padding-top: 10px;
    padding-left: 22px;
}

#box {
    background-color: #Fff;
    width: 130px;
    height: 70px;
    margin-left: 30px;
    padding-left: 23px;
    display: inline-flex;
    
}

.boxs, #satisfaction{
 	width: 25em;
	height: 20em;
	padding-bottom: 3em;
	background-color: #E6E6E6;

   
 }


#satisfaction{
 	position: relative;
 	bottom:48em;
 	right: 8em;
 }
 
 #jedi{
 	width: 25em;
	height: 20em;
	padding-bottom: 3em;
	background-color: #E6E6E6;
 	position: relative;
 	bottom: 1155px;	
 	left: 401px;
 }

#small {
    background-color: #Fff;
    width: 130px;
    height: 70px;
    margin-left: 30px;

    padding-left: 23px;
    display: inline-block;
    
}
.imgEn{
	position: relative;
	top: 2em;
	left: 2em;
}
.overbtn{

    margin-top: 10px;
	color:#252932;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bolder;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	position: relative;
	top:180px;
	right: 125px;
	background-color: #919191;
}

.overbtn:hover{

    background-color: #ffc107;
    border-color: #000;
    color: #FFFFFF;

}