/*
 * Estilos de tu proyecto
 */
header {
	width:100%;/* Establecemos que el header abarque el 100% del documento */
	height: 6em; 
	background:#919191;
	margin-bottom:20px;
	position: fixed;
	z-index: +1;
}

body{
	margin:0;
	font-family: Raleway;
}
.wrapper {
	padding: 1.5em 2em ;
	
}
.first{
	padding-top: 7em;
	margin-bottom: 7em;
}
 
header img {
	width: 10em;
	float:left;
	
}

header nav {
	float:right;
	
}
header nav a {
	display:inline-block;
	color:#252932;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bolder;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#ffc107;
	border-radius:50px;
}

#nav,#nav ul {

    list-style: none;
    margin: 0;
    padding: 0;

}

#nav {
    display: inline-block;
    position: relative;
    width: 127px;
 }

#nav ul {

    left: -9999px;
    opacity:0;
    overflow: hidden;
    padding: 13px;
    position: absolute;
    top: -9999px;

}

#nav li {

    background-color: #ffc107;
    position: relative;
}

#nav li a {
    
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-size: 15px;
    padding: 35px 15px 12px 10px;
    text-decoration: none;
    width:100px;
}

#nav li:hover > a {
    background-color: #919191;
    border-color: #000;
    color: #FFFFFF;
}

#nav li:hover ul.subs {
    left: 114px;
    opacity:1;
    top: 0;
}

#nav ul li {
    width: 100%;

}

.overview{
	width: 30em;
	height: 22em;
	background-color: #E6E6E6;
	position: relative;
	left: 17em;
	bottom: 22em;
}
.total h1{
	padding: 1em 2em 0em;
	margin: 0;
}

 .scl, .aqp{
 	width: 25em;
	height: 20em;
	padding-bottom: 3em;
	background-color: #E6E6E6;
	display: inline-block;
	margin-left: 2em;
 }
 h1 {
    padding-top: 10px;
    padding-left: 22px;
}

.boxito {
    background-color: white;
    width: 130px;
    height: 70px;
    margin-left: 5px;
    padding-left: 23px;
    display: inline-block;
    
}